@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: theme('colors.[pale-butter]');
    overscroll-behavior-x: none;
}

h1 {
    font-size: 48px;
    font-family: Junicode;
    font-weight: normal;
    line-height: 100%;
    letter-spacing: -2.4px;
    color: theme('colors.[air-force-blue]');
}

h2 {
    font-size: 28px;
    font-family: Junicode;
    font-weight: normal;
    line-height: 100%;
    letter-spacing: -1.4px;
    color: theme('colors.[eggplant-purple]');
}

h3 {
    font-size: 28px;
    font-family: Junicode;
    font-weight: normal;
    font-style: italic;
    line-height: 100%;
    letter-spacing: -1.4px;
    color: theme('colors.[eggplant-purple]');
}

h4 {
    font-size: 14px;
    font-family: Epilogue;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.28px;
    color: theme('colors.[eggplant-purple]');;
}

h5 {
    font-size: 16px;
    font-family: Epilogue;
    font-weight: normal;
    line-height: 145%;
    letter-spacing: 0.32px;
}

.s-regular {
    font-size: 12px;
    font-family: Epilogue;
    font-weight: normal;
    line-height: 145%;
    letter-spacing: 0.24px;
}

.s-light {
    font-size: 12px;
    font-family: Epilogue;
    font-weight: 300;
    line-height: 145%;
    letter-spacing: 0.24px;
}

.xs-regular {
    font-size: 10px;
    font-family: Epilogue;
    font-weight: normal;
    line-height: 145%;
    letter-spacing: 0.2px;
}

.xs-semibold {
    font-size: 10px;
    font-family: Epilogue;
    font-weight: 600;
    line-height: 145%;
    letter-spacing: 0.2px;
}

@media (max-width: 1023px) {
    h1 {
        font-size: 32px;
        letter-spacing: -1.6px;
    }
    h2 {
        font-size: 22px;
        letter-spacing: -1.1px;
    }
    h3 {
        font-size: 22px;
        letter-spacing: -1.1px;
    }
    h4 {
        font-size: 12px;
        letter-spacing: 0.24px;
    }
    h5 {
        font-size: 14px;
        letter-spacing: 0.28px;
    }
    .s-regular {
        font-size: 10px;
        letter-spacing: 0.2px;
    }
    .s-light {
        font-size: 10px;
        letter-spacing: 0.2px;
    }
    .grid-wide {
        grid-column: span 1;
        aspect-ratio: 1 / 1;
    }
    .grid-long {
        height: calc(85vw * 2 + 24px);
    }
}

@media (min-width: 1024px) {
    .grid-wide {
        grid-column: span 2;
        height: calc((85vw - 48px) / 3);
    }
}

.grid-long {
    grid-row: span 2;
}

.fun-stuff-title {
    text-align: start;
    transition-property: color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    &:hover {
        color: theme('colors.[air-force-blue]');;
    }
}

@font-face {
    font-family: 'Junicode';
    src: url('/fonts/Junicode.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Junicode';
    src: url('/fonts/Junicode-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'Epilogue';
    src: url('/fonts/Epilogue-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Epilogue';
    src: url('/fonts/Epilogue-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'Epilogue';
    src: url('/fonts/Epilogue-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

input[type=number]{
    -moz-appearance: textfield;
    appearance: textfield;
}