@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--Pale-Butter, #FBFBF1);
}

.grid-title {
  color: var(--Air-Force-Blue, #3688D5);
  font-family: Junicode;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.8px;
  white-space: nowrap;
}

@media (min-width: 1024px) {
  .grid-title {
    font-size: 2.5vw;
  }
}

@media (min-width: 1024px) {
  .grid-year {
    font-size: 1.1vw;
  }
}

.about-title {
  color: #000;
  font-family: Junicode;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.8px;
  white-space: nowrap;
}

.grid-year {
  color: var(--Warm-Grey, #AAADA3);
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.grid-long {
  grid-row: span 2;
  aspect-ratio: 1 / 2.08;
}

@media (max-width: 1024px) {
  .grid-wide {
    grid-column: span 1;
    aspect-ratio: 1 / 1;
  }
}

@media (min-width: 1024px) {
  .grid-wide {
    grid-column: span 2;
    aspect-ratio: 2.08 / 1;
  }
}



.about {
  color: #4a5568; /* text-gray-700 */
  font-size: 0.75rem; /* text-xs */
  font-family: 'Epilogue', sans-serif;
  line-height: 1.74; /* leading-[17.40px] */
  letter-spacing: -0.02em; /* tracking-tight */
}


@font-face {
  font-family: 'Junicode';
  src: url('/fonts/Junicode.ttf');
}

@font-face {
  font-family: 'Epilogue';
  src: url('/fonts/Epilogue-Regular.ttf');
}
